### Credit Card Fraud Detection

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Loading the dataset...

In [2]:
dataset = pd.read_csv('creditcard.csv')
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
dataset.shape

(284807, 31)

In [10]:
dataset.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [11]:
dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

### distribution of legit transaction and fraud transaction

In [13]:
dataset.Class.value_counts() #the dataset is highly biased.

0    284315
1       492
Name: Class, dtype: int64

### Seperating the data for analysis.

In [14]:
legit_data = dataset[dataset.Class == 0]
fraud_data = dataset[dataset.Class == 1]

In [15]:
legit_data.shape

(284315, 31)

In [16]:
fraud_data.shape

(492, 31)

In [17]:
legit_data.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [18]:
fraud_data.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [19]:
dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

The dataset is unbalanced, to sovle, we use Undersampling in which we have to build a dataset containing similar distribution of Legit and Fraud transactions.

In [20]:
sample_legit = legit_data.sample(n=492)

### Concatenate sample_legit and fraud_data

In [21]:
new_data = pd.concat([sample_legit, fraud_data], axis = 0)

In [22]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
17426,28706.0,-0.319263,1.091484,1.038135,0.841248,-0.191671,-0.555784,0.580340,-0.096549,-0.455493,...,0.234888,0.498692,-0.089441,0.519133,-0.289082,-0.396136,-0.330332,0.022577,16.50,0
30729,36058.0,1.120077,-0.367368,1.182401,0.905965,-1.260639,-0.336154,-0.684235,0.148491,1.154132,...,-0.089991,-0.208065,0.021749,0.381936,0.191842,0.318654,0.001313,0.029410,39.99,0
251731,155474.0,-2.285884,-2.131636,1.448152,-0.182127,2.013862,0.272033,0.326158,-0.410979,1.112538,...,-0.225439,1.092078,1.192511,-0.103594,0.432980,-0.124011,-0.103939,-0.808071,35.97,0
273930,165770.0,-0.569946,0.983377,0.478746,-0.556825,0.270944,0.352230,-0.219173,-2.404977,0.483955,...,2.265692,-0.723057,-0.422696,0.606505,2.155882,0.087791,0.123493,0.136274,14.99,0
199000,132759.0,-0.102014,1.267883,-0.492834,-0.617802,1.061288,-0.744918,1.008227,-0.143219,-0.047088,...,-0.354275,-0.735594,0.088775,0.531440,-0.337327,0.119868,0.341130,0.148646,1.29,0

In [23]:
new_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [25]:
new_data.Class.value_counts()

0    492
1    492
Name: Class, dtype: int64

In [26]:
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95480.672764,0.089385,0.082199,0.073605,-0.015670,-0.004552,-0.130370,0.004541,-0.013269,0.048029,...,-0.011586,0.030326,-0.005875,0.022714,-0.004164,0.006992,-0.028057,0.013228,0.005515,72.862764
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [27]:
X = new_data.drop(columns = 'Class', axis = 1)
Y = new_data.Class

In [28]:
X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
17426,28706.0,-0.319263,1.091484,1.038135,0.841248,-0.191671,-0.555784,0.580340,-0.096549,-0.455493,...,-0.144607,0.234888,0.498692,-0.089441,0.519133,-0.289082,-0.396136,-0.330332,0.022577,16.50
30729,36058.0,1.120077,-0.367368,1.182401,0.905965,-1.260639,-0.336154,-0.684235,0.148491,1.154132,...,-0.133838,-0.089991,-0.208065,0.021749,0.381936,0.191842,0.318654,0.001313,0.029410,39.99
251731,155474.0,-2.285884,-2.131636,1.448152,-0.182127,2.013862,0.272033,0.326158,-0.410979,1.112538,...,-0.739249,-0.225439,1.092078,1.192511,-0.103594,0.432980,-0.124011,-0.103939,-0.808071,35.97
273930,165770.0,-0.569946,0.983377,0.478746,-0.556825,0.270944,0.352230,-0.219173,-2.404977,0.483955,...,-0.630119,2.265692,-0.723057,-0.422696,0.606505,2.155882,0.087791,0.123493,0.136274,14.99
199000,132759.0,-0.102014,1.267883,-0.492834,-0.617802,1.061288,-0.744918,1.008227,-0.143219,-0.047088,...,0.220312,-0.354275,-0.735594,0.088775,0.531440,-0.337327,0.119868,0.341130,0.148646,1.29

### Split the data into train and test data

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size = 0.2, stratify = Y, random_state = 2)

In [33]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

### Training the model

In [34]:
from sklearn.linear_model import LogisticRegression

In [35]:
model = LogisticRegression()

In [36]:
model.fit(X_train, Y_train)

LogisticRegression()

### Model Evaluation based on Accuracy score

In [37]:
from sklearn.metrics import accuracy_score

In [38]:
X_train_pred = model.predict(X_train)
training_accuracy = accuracy_score(X_train_pred, Y_train)

In [39]:
print('Accuracy on training data:',training_accuracy)

Accuracy on training data: 0.9453621346886912

In [43]:
X_test_pred = model.predict(X_test)
test_accuracy = accuracy_score(X_test_pred, Y_test)

In [44]:
print('Accuracy on test data:',test_accuracy)

Accuracy on test data: 0.8984771573604061